<template>
  <div class="404">
    <h1 class="text-2xl">{{ msg }}</h1>
    <div class="mt-4">
      <router-link :to="{ name: 'start'}" class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg border-gray-900 border-2">&larrb; Go to the start screen</router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FourOhFour',
  data () {
    return {
      msg: 'Uh oh, there\'s nothing here!'
    }
  }
}
</script>

<style>
[class="404"] {
  text-align: center;
  justify-self: center;
  align-self: center;
}
</style>
