<template>
  <div class="explain">
    <h1 class="text-2xl font-bold">What is Silly Sentences?</h1>
    <div class="description mt-2 mb-4 inline-block mx-auto">
        <p><span class="font-bold">Silly sentences</span> is a game to help you practice making sentences. Sentences are made out of <em>different kinds</em> of words. </p>
        <p class="mt-2">In this game we use the following categories of words:</p>
        <table class="table-auto w-full my-4">
          <tbody>
            <tr>
              <td class="hfw">HFW</td>
              <td><div class="py-2">High-frequency words.<span class="block ml-4 text-xs"><em class="opacity-50 mr-1">for example:</em> I, am, the</span></div></td>
            </tr>
            <tr>
              <td class="noun">Nouns</td>
              <td><div class="py-2">Words that are things.<span class="block ml-4 text-xs"><em class="opacity-50 mr-1">for example:</em> apple, bicycle, cloud</span></div></td>
            </tr>
            <tr>
              <td class="verb">Verbs</td>
              <td><div class="py-2">Words that are actions.<span class="block ml-4 text-xs"><em class="opacity-50 mr-1">for example:</em> kneel, cook, drag</span></div></td>
            </tr>
            <tr>
              <td class="adjective">Adjectives</td>
              <td><div class="py-2">Words that describe things.<span class="block ml-4 text-xs"><em class="opacity-50 mr-1">for example:</em> sweet, strong, shiny</span></div></td>
            </tr>
            <tr>
              <td class="adverb">Adverbs</td>
              <td><div class="py-2">Words that describe actions.<span class="block ml-4 text-xs"><em class="opacity-50 mr-1">for example:</em> bravely, angrily, often</span></div></td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="text-center pb-4">
      <router-link :to="{ name: 'start'}" class="inline-block text-center border-blue-500 hover:border-blue-700 text-xs font-medium py-2 px-4 rounded-full border-2">I understand, take me to the start!</router-link>
    </div>
  </div>
</template>

<style scoped>
.explain {
  justify-self: center;
  align-self: center;
  margin: 1rem 1rem;
}

.description {
  max-width: 50ch;
}

.hfw { color: var(--c-hfw); }
.noun { color: var(--c-noun); }
.verb { color: var(--c-verb); }
.adjective { color: var(--c-adjective); }
.adverb { color: var(--c-adverb); }

td[class] {
  border-right: 0.15em solid;
  border-bottom: 0.15em solid;
}

td:first-child {
  text-align: right;
  font-style: italic;
  letter-spacing: 0.15em;
  font-size: 0.75rem;
  vertical-align: middle;
  text-transform: uppercase;
  padding-right: 1em;
  width: 15ch;
}

td:last-child {
  padding-left: 1.5rem;
  text-align: left;
}
</style>