<template>
  <div class="finish">
    <div class="top"></div>
    <div class="center text-center">
      <div class="font-bold">Now <div class="speak font-normal inline-block border-b" @click="speak(normalized_sentence)">say your sentence out loud</div><span class="font-normal mx-1 italic">or draw a picture</span>!</div>
      <div class="my-8 sentence text-2xl">
        <div v-for="word in sentence" :class="word.type" class="word ml-1 border-b-2 speak" v-bind:key="word.id" @click="speak(word)">{{ word.word }}</div>
      </div>
      <div class="mt-12 w-100 flex flex-row items-center justify-center">
        <router-link class="transition duration-200 opacity-25 hover:opacity-100 transition-opacity items-center justify-center flex text-center hover:border-gray-500 text-xs font-medium py-2 px-4 rounded-full border-2 mx-2" :to="{'name': 'words'}">Start over!</router-link>
      </div>
    </div>
    <div class="bottom"></div>
  </div>
</template>

<script>
export default {
  name: 'finish',
  data () {
    return {
      sentence: JSON.parse(atob(this.$route.params.sentence)),
      speaker: window.speechSynthesis
    }
  },
  methods: {
    speak: function (word) {
      var utterance = new SpeechSynthesisUtterance(word.word)
      this.speaker.cancel()
      this.speaker.speak(utterance)
    }
  },
  computed: {
    normalized_sentence: function () {
      var words = []
      this.sentence.forEach(word => words.push(word.word))
      var composition = words.join(' ')
      return { 'word': composition }
    }
  }
}
</script>

<style scoped>
.finish {
  height: 100%;
  width: 100%;
  display: grid;
  padding: 0.5rem 0;
  grid-template-rows: 1fr auto 1fr;
}

.word {
  flex-grow: 1;
  display: flex;
  text-align: center;
  display: inline-block;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.word:hover {
  opacity: 0.65;
}

.speak {
  cursor: pointer;
}

.share {
  cursor: not-allowed;
}

.selections {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
  overflow: auto;
}

.selections .group {
  display: flex;
  flex-flow: column wrap;
}

.selections .list {
  display: flex;
  text-align: center;
  flex-flow: row wrap;
  align-items: stretch;
  /* flex-grow: 1; */
}

span.heading {
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
  display: block;
  font-size: 0.65em;
  letter-spacing: 0.2em;
  margin-bottom: 0.2rem;
  user-select: none;
}

.selections .word {
  box-shadow: 0.1em 0.1em 0.25em var(--c-shadow);
  flex: 1 1 auto;
  padding: 0.25em 0.35em;
  letter-spacing: -0.025em;
  font-weight: normal;
}

@media (prefers-color-scheme: dark) {
  .selections .word {
    /* box-shadow: none; */
    /* border: 1px solid; */
  }
}

.selections .word:active {
  box-shadow: inset 0.1em 0.1em 0.25em var(--c-shadow);
}

.target-container .word {
  border-radius: 0;
  padding: 0;
  display: inline-block;
  border-bottom: 0.075em solid;
}

.hfw {
  border-color: var(--c-hfw);
}

.noun {
  border-color: var(--c-noun);
}

.verb {
  border-color: var(--c-verb);
}

.adjective {
  border-color: var(--c-adjective);
}

.adverb {
  border-color: var(--c-adverb);
}

.target-container .left {
  display: grid;
  align-content: center;
}

.target-container .right {
  place-self: stretch flex-end;
}
</style>