<template>
  <div class="hello">
    <h1 class="text-2xl font-bold">{{ msg }}</h1>
    <h4>{{ submsg }}</h4>
    <form class="mt-4 border-2 rounded-full border-gray-900" @submit="transitionToGame">
      <input autofocus="true" class="bg-white focus:outline-none focus:shadow-outline rounded-l-full py-2 px-4 inline-block w-full text-black appearance-none leading-normal placeholder-gray-600" type="text" placeholder="Your name here" v-model="playerName"/>
      <input class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-r-full border-gray-900 border-l-2" type="submit" value="Play!"/>
    </form>
    <div class="hint">
      <router-link class="transition duration-300 transition-opacity ease-in-out opacity-50 hover:opacity-100 underline" :to="{ name: 'explain' }">Never played before?</router-link>
    </div>
  </div>
</template>

<script>
import router from '@/router'

export default {
  name: 'start',
  data () {
    return {
      msg: 'What is your name?',
      submsg: '(nicknames are okay too!)',
      playerName: ''
    }
  },
  methods: {
    transitionToGame: function (e) {
      if (this.playerName) {
        router.push({name: 'words', params: { playerName: this.playerName }})
        e.preventDefault()
      }
    }
  }
}
</script>

<style scoped>
.hello {
  text-align: center;
  place-self: center center;
  padding: 1rem;
}

form {
  display: grid;
  grid-template-columns: auto auto;
}

.hint {
  margin-top: 1rem;
  font-size: .65rem;
  font-style: italic;
}
</style>