<template>
  <div class="words">
    <div class="target">
      <div class="target-container text-xl border-gray-900 border-2 m-2 rounded-lg bg-white grid-flow-col overflow-hidden">
        <div class="left" v-show="show">
          <draggable
            v-model="sentence"
            class="target-list"
            tag="section"
            group="words"
            animation="125"
            draggable=".word">
            <div
              class="word m-1 border-solid rounded-lg"
              v-for="word in sentence"
              :class="word.type"
              :key="word.word">{{ word.word }}</div>
          </draggable>
        </div>
        <div class="right">
          <input
            class="go rounded-none border-l-2 border-gray-900 inline-block bg-green-500 hover:bg-green-700 text-white font-bold h-full py-2 px-3"
            type="submit"
            @click="submit"
            value="Go!"/>
          <input
            class="new-words rounded-none border-l-2 border-gray-900 inline-block bg-blue-400 hover:bg-blue-500 text-white font-bold h-full py-2 px-3"
            type="button"
            @click="wordsReload"
            value="Reset"/>
        </div>
      </div>
    </div>
    <div
      v-show="show"
      class="selections m-1 text-base">
      <div
        v-for="(values, type) in words"
        v-bind:key="type"
        :class="type"
        class="group">
        <span class="heading" drag="false">{{ type }}</span>
        <draggable
          v-model="words[type]"
          tag="section"
          class="list"
          :class="type"
          group="words"
          animation="125"
          sort="true"
          draggable=".word">
          <div
            v-for="word in values"
            :class="word.type"
            class="word m-1 border-solid rounded-lg"
            :key="word.index">{{ word.word }}</div>
        </draggable>
      </div>
    </div>
  </div>
</template>

<script>
import wordsJSON from '@/assets/words.json'
import draggable from 'vuedraggable'

import router from '@/router'

export default {
  name: 'words',
  components: {
    draggable
  },
  data () {
    return {
      show: true,
      types: Object.keys(wordsJSON),
      sentence: [],
      words: {},
      limits: {
        'hfw': 19,
        'noun': 12,
        'verb': 14,
        'adjective': 12,
        'adverb': 12,
      }
    }
  },
  methods: {
    generateWordlists: function () {
      var json = wordsJSON
      var words = {}
      for (var key in json) {
        var i = 0
        words[key] = []

        // generate random combinations up to per-key limit (defined in data)
        while (i < this.limits[key]) {
          var randItem = json[key][Math.floor(Math.random() * json[key].length)]

          var block = {
            "index": json[key].indexOf(randItem),
            "type": key,
            "word": randItem,
          }

          if (!words[key].some(e => e.word === randItem)) {
            key === 'hfw' ? block.index++ : false
            words[key].push(block)
            i++;
            if (i == json[key].length) break
          }
        }

        if (key === 'hfw') {
          words[key].push({ "index": 0, "type": key, "word": this.$route.params.playerName })
        }

        words[key].sort((a, b) => a.index - b.index)
        this.words[key] = words[key]
      }
    },
    wordsReload: async function () {
      this.show = false
      this.sentence = []
      this.generateWordlists()
      this.show = true
    },
    submit: function (e) {
      if (this.sentence.length > 0) {
        router.push({ 'name': 'finish', 'params': { 'playerName': this.$route.params.playerName, 'sentence': this.sentence_bundle } })
        e.preventDefault()
      }
    }
  },
  beforeMount: function () {
    this.wordsReload()
  },
  watch: {
    async '$route.params.playerName' () {
      await this.wordsReload()
    }
  },
  computed: {
    sentence_bundle: function () {
      return btoa(JSON.stringify(this.sentence))
    }
  }
}
</script>

<style scoped>
.words {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

.target-container {
  display: grid;
  width: calc(100% - 1rem);
  grid-template-columns: 1fr auto;
  background: var(--background);
}

.target {
  align-self: normal;
  width: 100%;
}

.word {
  user-select: none;
  flex-grow: 1;
  display: flex;
  text-align: center;
  display: inline-block;
}

.selections {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
}

.selections .group {
  display: flex;
  flex-flow: column wrap;
}

.selections .list {
  display: flex;
  text-align: center;
  flex-flow: row wrap;
  align-items: stretch;
  /* flex-grow: 1; */
}

span.heading {
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
  display: block;
  font-size: 0.65em;
  letter-spacing: 0.2em;
  margin-bottom: 0.2rem;
  user-select: none;
}

.selections .word {
  box-shadow: 0.1em 0.1em 0.25em var(--c-shadow);
  flex: 1 1 auto;
  padding: 0.25em 0.35em;
  letter-spacing: -0.025em;
  font-weight: normal;
}

@media (prefers-color-scheme: dark) {
  .selections .word {
    background: var(--c-token);
    box-shadow: none;
  }
}

.selections .word:active {
  box-shadow: inset 0.1em 0.1em 0.25em var(--c-shadow);
}

.target-container .word {
  border-radius: 0;
  padding: 0;
  display: inline-block;
  border-bottom: 0.075em solid;
}

.target-list {
  padding-left: 0.25rem;
}

input[type=button], input[type=submit] {
  cursor: pointer;
}

.hfw {
  color: var(--c-hfw);
  border-color: var(--c-hfw);
}

.noun {
  color: var(--c-noun);
  border-color: var(--c-noun);
}

.verb {
  color: var(--c-verb);
  border-color: var(--c-verb);
}

.adjective {
  color: var(--c-adjective);
  border-color: var(--c-adjective);
}

.adverb {
  color: var(--c-adverb);
  border-color: var(--c-adverb);
}

.target-container .left {
  display: grid;
  align-content: center;
}

.target-container .right {
  place-self: stretch flex-end;
}
</style>