<template>
<footer>
  <div class="left">A game made with ❤️ by Ms. Sasha</div>
  <div class="center"></div>
  <div class="right"><code class="version code">version: <a target="_blank" rel="noopener" :href="'https://gitlab.com/nxtonic/silly-sentences/-/tags/v' + version + '/'">{{ version }}</a></code></div>
</footer>
</template>

<script>
export default {
  name: 'Footer',
  props: {
    version: String
  }
}
</script>

<style>
footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  margin: 0;
  font-size: 0.5rem;
  border-top: 0.05rem solid rgba(128,128,128,0.2);
  opacity: 0.5;
  padding: 1rem;
  user-select: none;
}

footer .left {
  text-align: left;
}

footer .center {
  text-align: center;
}

footer .right {
  text-align: right;
}
</style>
