<template>
<header>
  <div class="left">
    <router-link class="text-current" :to="{ name: 'start' }"><span>{{ title }}</span></router-link>
  </div>
  <div class="center">
  </div>
  <div class="right">
    <span class="anim-fade-in" v-show="$route.params.playerName">Hello, {{ $route.params.playerName }}!</span>
  </div>
</header>
</template>

<script>
export default {
  name: 'Header',
  props: {
    title: String,
    version: String
  }
}
</script>

<style>
header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  margin: 0;
  border-bottom: 0.05rem solid rgba(128,128,128,0.1);
  font-size: 1rem;
  padding: 1rem;
}

header .left, header .right {
  position: relative;
  line-height: 1;
  box-sizing: border-box;
}

header .left {
  font-weight: bold;
  align-self: center;
}

header .center {
  text-align: center;
}

.version {
  font-size: 0.5rem;
  opacity: 0.5;
}

header .right {
  text-align: right;
  align-self: center;
  font-size: 1rem;
}
</style>
