<template>
  <div id="app" class="min-h-screen w-screen">
    <Header :title="appProps.name" :version="appProps.version"></Header>
    <main class="grid">
      <transition
        name="fade"
        mode="out-in">
        <router-view></router-view>
      </transition>
    </main>
    <Footer :version="appProps.version"></Footer>
  </div>
</template>

<script>
import Header from '@/components/partials/Header'
import Footer from '@/components/partials/Footer'

import { version } from '../package.json'

export default {
  name: 'app',
  components: {
    Header: Header,
    Footer: Footer
  },
  data: function () {
    return {
      appProps: {
        'name': 'Silly Sentences',
        'version': version
      },
    }
  }
}
</script>

<style>
:root {
  --background: #fafafa;
  --text: #222222;
  --link: blue;

  --c-hfw: #716a00;
  --c-noun: #cc0000;
  --c-verb: #005e68;
  --c-adjective: rebeccapurple;
  --c-adverb: blue;

  --c-shadow: rgba(0,0,0,0.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #18191a;
    --text: #eeeeee;
    --link: cyan;

    --c-hfw: #fff645;
    --c-noun: #ff3941;
    --c-verb: #12a66e;
    --c-adjective: #965cd0;
    --c-adverb: #41a6ff;

    --c-token: #202022;

    --c-shadow: rgba(0,0,0,0.25);
  }

  .bg-white {
    background-color: var(--background) !important;
  }

  .text-black {
    color: var(--text) !important;
  }

  .border-gray-900 {
    border-color: rgba(226, 232, 244, 0.1) !important;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

:root {
  font-size: 20px;
}

html, body {
  background: var(--background);
  color: var(--text);
}

body {
  margin: 0;
  min-height: 100vh;
  height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

#app {
  font-family: -apple-system,"Helvetica Neue",Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-ligatures: normal;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  height: 100vh;
  display: grid;
  width: 100%;
  grid-template-rows: auto 1fr auto;
}

main {
  display: grid;
  flex-direction: column;
  overflow-x: auto;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

.anim-fade-in {
  animation: fadeIn 0.2s;
}

a {
  color: var(--link);
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.15s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}
</style>
